@use "../abstracts/" as *;
@use "../components/" as *;

.get-in-touch {
	margin: 7.5em 0;
	text-align: center;

	&__btn {
		@include btnGradient;
		display: inline-block;
		padding: 1em 1.5em;
	}
}

@media (min-width: 576px) {
	// .get-in-touch {}
}

@media (min-width: 768px) {
	// .get-in-touch {}
}

@media (min-width: 992px) {
	// .get-in-touch {}
}

@media (min-width: 1200px) {
	// .get-in-touch {}
}

@media (min-width: 1400px) {
	// .get-in-touch {}
}
