@use "../abstracts/" as *;
@use "../components/" as *;

.process {
	position: relative;
	margin: 7.5em 0;

	&__card-box {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 1fr);
		gap: 1em;
	}

	&__card {
		@include gradientBorder;
		padding: 1em;
		border-radius: $btn-border-radius;
		background-image: $backgroundTransparentGradient;

		&:nth-of-type(1) {
			grid-column: 1/-1;
			grid-row: 1/2;
		}

		&:nth-of-type(2) {
			grid-column: 1/-1;
			grid-row: 2/3;
		}

		&:nth-of-type(3) {
			grid-column: 1/-1;
			grid-row: 3/4;
		}

		&:nth-of-type(4) {
			grid-column: 1/-1;
			grid-row: 4/5;
		}
	}

	&__card-icon-box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 50%;
			border: $btn-border-width solid transparent;
			background: $btn-gradient-color border-box;
			mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
			mask-composite: destination-out;
			mask-composite: exclude;
		}
	}

	&__card-icon {
		color: #fff;
		padding: 3px;
		font-size: 2rem;
	}

	&__card-title {
		margin: 0.5em 0;
	}
}

@media (min-width: 576px) {
	.process {
		&__card-icon {
			font-size: 2.5rem;
		}
	}
}

@media (min-width: 768px) {
	.process {
		&__card-box {
			grid-template-rows: repeat(2, 1fr);
		}

		&__card {
			&:nth-of-type(1) {
				grid-column: 1/7;
				grid-row: 1/2;
			}

			&:nth-of-type(2) {
				grid-column: 7/-1;
				grid-row: 1/2;
			}

			&:nth-of-type(3) {
				grid-column: 1/7;
				grid-row: 2/3;
			}

			&:nth-of-type(4) {
				grid-column: 7/-1;
				grid-row: 2/3;
			}
		}

		&__card-title {
			margin: 0.25em 0;
		}
	}
}

@media (min-width: 992px) {
	.process {
		&__card-icon-box {
			width: 75px;
			height: 75px;
		}

		&__card-icon {
			font-size: 3.5rem;
		}
	}
}

@media (min-width: 1200px) {
	// .process {}
}

@media (min-width: 1400px) {
	// .process {}
}
