@use "../abstracts/" as *;
@use "../components/" as *;

.reviews {
	margin: 5em 0;

	&__btn {
		display: none;
		margin-bottom: 1em;
	}

	&__box {
		border: 1px solid magenta;
		height: 50vh;
		padding: 1em 0;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.swiper {
		border: 1px solid red;
		height: 100%;
		width: 100%;
		overflow: visible;
	}

	.swiper-slide {
		border: 1px solid lime;
		border-radius: 16px;
		width: 100%;
	}
}

@media (min-width: 576px) {
	// .reviews {}
}

@media (min-width: 768px) {
	.reviews {
		.text-box {
			text-align: center;
		}

		&__btn {
			@include btnGradient;
			display: inline-block;
			padding: 1em 1.5em;
			// width: 40%;
			// margin: 0 auto;
			// margin: 0 auto;
			// padding: 1em 1.5em;
		}
	}
}

@media (min-width: 992px) {
	// .reviews {}
}

@media (min-width: 1200px) {
	// .reviews {}
}

@media (min-width: 1400px) {
	// .reviews {}
}
