.bg-animation {
	&__box {
		z-index: -100;
		// border: 1px solid red;
		position: absolute;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, 50%);
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__box-layout-1 {
		.bg-animation__icon {
			&:nth-of-type(1) {
				grid-column: 1/2;
				grid-row: 1/2;
				scale: 1.5;
			}
			&:nth-of-type(2) {
				grid-column: 2/3;
				grid-row: 2/3;
				scale: 1.5;
			}
		}
	}

	&__box-layout-2 {
		.bg-animation__icon {
			&:nth-of-type(1) {
				grid-column: 2/3;
				grid-row: 1/2;
				scale: 1.5;
			}
			&:nth-of-type(2) {
				grid-column: 1/2;
				grid-row: 2/3;
				scale: 1.5;
			}
		}
	}

	&__box-layout-3 {
		.bg-animation__icon {
			&:nth-of-type(1) {
				grid-column: 2/3;
				grid-row: 2/3;
				scale: 1.5;
			}
			&:nth-of-type(2) {
				display: none;
			}
		}
	}

	&__box-layout-4 {
		.bg-animation__icon {
			&:nth-of-type(1) {
				display: none;
			}
			&:nth-of-type(2) {
				grid-column: 1/2;
				grid-row: 2/3;
				scale: 1.5;
			}
		}
	}

	&__box-layout-5 {
		.bg-animation__icon {
			&:nth-of-type(1) {
				grid-column: 2/3;
				grid-row: 1/2;
				scale: 1.5;
			}
			&:nth-of-type(2) {
				display: none;
			}
		}
	}

	&__box-layout-6 {
		.bg-animation__icon {
			&:nth-of-type(1) {
				display: none;
			}
			&:nth-of-type(2) {
				grid-column: 1/2;
				grid-row: 2/3;
				scale: 1.5;
			}
		}
	}

	&__icon {
		width: 50%;
		justify-self: center;
		align-self: center;
		opacity: 0.2;
	}
}

@media (min-width: 576px) {
	// .bg-animation {}
}

@media (min-width: 768px) {
	.bg-animation {
		&__box-layout-1 {
			.bg-animation__icon {
				&:nth-of-type(1) {
					scale: 0.7;
				}
				&:nth-of-type(2) {
					scale: 1.2;
				}
			}
		}

		&__box-layout-2 {
			.bg-animation__icon {
				&:nth-of-type(1) {
					scale: 0.3;
				}
				&:nth-of-type(2) {
					scale: 1.5;
				}
			}
		}

		&__box-layout-3 {
			.bg-animation__icon {
				&:nth-of-type(1) {
					scale: 2;
				}
			}
		}

		&__box-layout-4 {
			.bg-animation__icon {
				&:nth-of-type(2) {
					scale: 1;
				}
			}
		}

		&__box-layout-5 {
			.bg-animation__icon {
				&:nth-of-type(1) {
					scale: 0.5;
				}
			}
		}

		&__box-layout-6 {
			.bg-animation__icon {
				&:nth-of-type(2) {
					scale: 0.5;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	// .bg-animation {}
}

@media (min-width: 1200px) {
	// .bg-animation {}
}

@media (min-width: 1400px) {
	// .bg-animation {}
}
